* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}
.container {
    max-width: 100vw;
    position: relative;
    margin: auto;
    height: 100vh;
    overflow: hidden;
}

.carousel-image {
    width: 100%;
    height: 100%;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 16px;
    font-size: 18px;
    cursor: pointer;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.pre-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}
